<div class="container">
    <h2>Mongo Extend Angularjs Nodejs (MEAN) Demo</h2>
    <p>This is a demonstration application built on the MEAN stack. The application will insert, edit, and delete records in a database and then return those results to a grid.</p>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Position Category</th>
            <th>Date Hired</th>
            <th>Active</th>
            <th>Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in people">
            <td>{{ person | nameFilter }}</td>
            <td>
                <ul style="list-style-type:none">
                    <li>{{ person.addressLineOne}} </li>
                    <li>{{ person.addressLineTwo}} </li>
                    <li>{{ person.city + " " + person.state + " " + person.zip}}</li>
                </ul>
            </td>
            <td>{{ person.phoneNumber | telephoneFilter}}</td>
            <td>{{ person.position }}</td>
            <td>{{ person.dateHired | date}}</td>
            <td><span class="label label-warning">{{ person.active | stateFilter}}</span></td>
            <td>
                <button type="button" class="btn btn-default" data-toggle="modal" ng-click="editPerson(person._id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="deletePerson(person._id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" ng-click="openInputModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Person
    </button>
</div>